<div class= "main">
    <div class="heading">
        <i class="fa fa-address-book" style="font-size:25px"><b> Phone Book App </b></i>
      </div>
      <!-- <div class="container"> -->
    <div class="subheading">
        <h4> <b>Contacts</b> <button type="button" class="btn btn-primary" (click) = "show()" style="float: right;">+Add contact</button></h4>
        <!-- <h4><b>Contacts</b> <button type="button" class="btn btn-primary" (click)="openForm()" style="margin-left: 275px;">+Add contact</button> </h4> -->
    </div>

    <div class="md-form mt-0" >
      <div>
         <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search contact by name" mdbInput [(ngModel)]="searchKey"  style="width: max-content; float: left;"> 
         <div class="btn-group" style="float: left;">
         <span><button (click)="OnSearch()"><i class='glyphicon glyphicon-search' style='font-size:14px'></i></button></span>
         <span><button (click)="onClose1()" *ngIf="searchKey"><i class="fa fa-close"></i></button></span>
         <span><button (click)="onSortbyName()" class="btn btn-warning">By name</button></span>
         <span><button (click)="onSortbyNumber()" class="btn btn-warning">By num</button></span>
      </div>
         </div>
    
    <!-- <div class="search">
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="&#xf002; Search for contact by lastname..." style="font-family:Arial, FontAwesome" title="Type in a category">
    </div> -->

    <!-- <div class="form-group">
      <input type="text"[(ngModel)]="searchText"
      class="form-control"  placeholder="&#xf002; Search for contact by lastname..." style="font-family:Arial, FontAwesome" title="Type in a category">
  </div> -->

    <div class="container">
      
      <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">New Contact</h4>
          </div>
          <div class="modal-body">
                    <form [formGroup]="registerForm"> 
                       <!-- (ngSubmit)="onSubmit()"> -->

                          <div class="row">
                             <div class="col-sm-6">
                                <div class="form-group">
                                      <!-- <label>FirstName</label> -->
                                      <input type="text" formControlName="firstname" class="form-control" placeholder="firstname" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
                                      <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                                            <div *ngIf="f.firstname.errors.required">FirstName is required</div>
                                      </div>
                                   </div>
                             </div> 
                             <div class="col-sm-6">
                                <div class="form-group">
                                      <!-- <label>FirstName</label> -->
                                      <input type="text" formControlName="lastname" class="form-control" placeholder="lastname" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
                                      <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                                            <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                                      </div>
                                   </div>
                             </div> 
                           
                             <div class="col-sm-6">
                                   <div class="form-group">
                                      <!-- <label>Mobile</label> -->
                                      <input type="text" formControlName="mobile" class="form-control" placeholder="Mobile number" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                                      <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                         <div *ngIf="f.mobile.errors">Mobile must be Valid and at least 10 digits</div>
                                        
                                      </div>
                                   </div>
                                </div>
                 </div>
                 <!-- <button type="submit" class="btn btn-primary">Create</button> -->
                 <!-- <button (click)="onSubmit()" class="btn btn-primary">Create</button> -->
                    </form>

     </div>
    
          <div class="modal-footer">
               <button (click)="onSubmit()" class="btn btn-primary">Create</button>
              <button type="button" class="btn btn-dark" data-dismiss="modal" (click) = "hide()">Cancel</button>
          
          </div>
        </div>
      </div>
      </div>
    
    </div>

    <div class="alert alert-primary" *ngFor="let a of contacts; " id="contact1" >
      <!-- <p class="alert alert-primary" *ngIf="showDetails"></p> -->
    <div style="width: 90%; float: left;">
         <div>
            <b> {{a.firstname}} {{a.lastname}} </b><br/>
         </div>
         <div>
            <i class="fa fa-phone" aria-hidden="true" style="float: left; color: grey; padding: 1%;"></i>
            {{a.mobile}}
         </div>
    </div>
         <div style=" width: 10% ;float: left;">
            <button (click)="onDelete()" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>  
            </button> 
         </div>
           
                
    </div>
    
    
</div>
