.main{
    background-color: 	#F0F0F0;
    text-align: center;
    margin-left: 30%;
    width: 40%;
    padding: 2%;
    
}
.heading{
    padding: 10px;
}

.subheading{
    padding: 5% ;
    text-align: left;
    vertical-align: middle;
    position: relative;
}
/* .modal{
    background-color: #000;
      opacity: 1;
} */
#mySearch {
    width: 90%;
    padding: 4px;
    border: 1px solid #ddd;
    margin: 3%;
  }
#contact1{
    background-color: white;
    width: 90%;
    display: inline-block;
    
    text-align: left;

  }
 